{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Stefan Langenbach"
    personal_email = "stefan@langenbach.online"
    personal_signing_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINT8aWdJWMJFoi3X3zVNuDJE+aLBsfyn5z+EtpSn0T38"
    work_email = "stefan.langenbach@covestro.com"
    codespaces = {{ $codespaces }}
{{- if $codespaces }}
    setting = "personal"
{{- else }}
    setting = {{ promptStringOnce . "setting" "Enter setting (personal or work):" | lower | quote }}
{{- end }}

[edit]
    command = "code"
    args = ["--wait"]
