{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Stefan Langenbach"
    personal_email = "stefan@langenbach.online"
    work_email = "stefan.langenbach@covestro.com"
    codespaces = {{ $codespaces }}
{{- if $codespaces }}
    setting = "personal"
{{- else }}
    setting = {{ promptStringOnce . "setting" "Personal or work" | quote }}
{{- end }}

[edit]
    command = "code"
    args = ["--wait"]