[user]
	name = {{ .name }}

[core]
	excludesfile = ~/.gitignore-global
	editor = code --wait
	autocrlf = input

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[pull]
	rebase = false

[push]
	autoSetupRemote = true
	default = current

[init]
	defaultBranch = main

[color]
	ui = auto

[gpg]
	format = ssh

{{ if (and (eq .setting "personal") (not .codespaces)) -}}
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[commit]
	template = ~/.gitmessage
{{- if (and (eq .setting "personal") (not .codespaces)) }}
	gpgsign = true
{{- end }}

[alias]
	amend = commit --amend
	co = checkout
	ci = commit
	cp = cherry-pick
	br = branch
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[includeIf "gitdir:~/dev/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/dev/personal/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/.local/share/chezmoi/"]
	path = ~/.gitconfig-personal

[credential]
{{ if eq .chezmoi.os "windows" -}}
	helper = wincred
{{ else if eq .chezmoi.os "linux" -}}
	{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
	helper = /mnt/c/Users/CVMYW/AppData/Local/Programs/Git/mingw64/bin/git-credential-manager.exe
	{{ else }}
	helper = store
	{{ end }}
{{ else if eq .chezmoi.os "darwin" -}}
	helper = osxkeychain

[credential "https://github.com"]
	username = slangenbach
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
