{{ if eq .chezmoi.os "linux" -}}

#!/bin/fish
echo "Installing additional packages"
sudo apt install -qq git git-lfs htop python3.9 

{{ else if eq .chezmoi.os "darwin" -}}

#!/usr/local/bin/fish
echo "Installing additional packages"
#brew bundle install -q --file=Brewfile

{{ end -}}