{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash
echo "Bootstrapping setup for Linux"
# install latest fish shell
echo "Installing fish shell"
sudo apt-add-repository -y ppa:fish-shell/release-3 
sudo apt -q -y update >/dev/null
sudo apt install -q -y fish 
# set fish as default shell
echo "Setting fish as default shell"
sudo chsh -s $(which fish) $USER
# upgrade existing packages
echo "Upgrading existing packages"
sudo apt -q -y upgrade >/dev/null

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/zsh
echo "Bootstrapping setup for macOS"
# install Homebrew dependencies
if ! command -v xcode-select >/dev/null 2>&1; then
        echo "Installing command line tools"
        xcode-select --install
else
    echo "Command line tools already installed"
fi
# install Homebrew
if ! command -v brew >/dev/null 2>&1; then
        echo "Installing Homebrew"
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
        echo "Homebrew already installed"
fi
# install fish shell outside of brewfile in order to make shell completions work
echo "Installing fish shell"
brew install -q fish
# set fish as default shell
echo "Setting fish as default shell"
sudo chsh -s $(which fish) $USER

{{ end -}}
