{{ if (and (eq .setting "personal") (not .codespaces)) -}}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else if eq .setting "work" }}
Host ws
    HostName i-04b90aeb8cb86504c
    User ubuntu
    MACs hmac-sha2-512-etm@openssh.com
    {{ if eq .chezmoi.os "windows" -}}
    IdentityFile C:/Users/CVMYW/.ssh/sl-workstation
    ProxyCommand C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p --profile cap_sm_dev"
    {{ else if eq .chezmoi.os "linux" -}}
    IdentityFile ~/.ssh/sl-workstation
    ProxyCommand aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p --profile cap_sm_dev
    {{ end }}
Host jetson
    Hostname 10.162.181.63
    User jetson
    {{ if eq .chezmoi.os "windows" -}}
    IdentityFile C:\Users\CVMYW\.ssh\jetson
    {{ else if eq .chezmoi.os "linux" -}}
    IdentityFile /home/stefan/.ssh/jetson
    {{ end -}}
{{ end -}}
